# Exclude credentials file
credentials.json

.env
service_account.json


# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Other unnecessary files
*.log
